.Footer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    // margin-top: 5vh;
    display: flex;
    justify-content: center;
    background: #000000;
    z-index: 1000;
    position: relative;
    
    .container-footer {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-bottom: 30px;

        .top-footer {
            padding: 50px 20px 30px 20px;
            display: flex;
            // align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #FFFFFF;
            width: 100%;

            .box-t-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 30px;

                .text-footer {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                h2 {
                    font-family: 'Söhne Breit Test-regular';
                    font-size: 25px;
                    line-height: 29px;
                    text-transform: uppercase;
                    background: linear-gradient(92.61deg, #FF5836 0%, #FFB8A9 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }

                h3 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: right;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-align: left;
                }

                span {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: right;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-align: left;
                }

                a {
                    font-family: 'Nordique Pro';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 30px;
                    letter-spacing: -0.01em;
                    color: #FFFFFF;
                    width: 90%;
                    text-align: center;
                    padding: 5px;
                    background: linear-gradient(107.31deg, #EFAFFF 0%, #DE4300 70.22%), #FCFCFC;
                }

                a:hover {
                    color: #DE4300;
                    background: white;
                    filter: drop-shadow(0 0 30px);
                }
            }

            .box-t-middle {
                display: flex;
                align-items: center;
                width: 35%;
                justify-content: space-between;
                
                .box-footer {
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    gap: 20px;

                    .box-text-midlle {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }

                    h2 {
                        font-family: 'Söhne Breit Test';
                        font-size: 16px;
                        // line-height: 45px;
                        background: linear-gradient(247.93deg, #FFFFFF 47.2%, rgba(255, 255, 255, 0.979167) 47.2%, #FF6F07 127.91%, #FF6B00 127.92%, #00FFA3 127.93%, rgba(255, 255, 255, 0) 127.93%, #00F0FF 127.93%, #008646 127.93%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }

                    a {
                        font-family: 'Söhne Breit Test';
                        font-size: 12px;
                        line-height: 18px;
                        color: #FFFFFF;
                        cursor: pointer;
                    }

                    a:hover {
                        color: #FF6B00;
                        text-decoration: underline;
                        text-decoration-color: #FF6B00;
                    }
                }
            }

            .box-t-right {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: space-between;

                .gp {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }

                h2 {
                    font-family: 'Söhne Breit Test';
                    font-size: 16px;
                    // line-height: 45px;
                    background: linear-gradient(247.93deg, #FFFFFF 47.2%, rgba(255, 255, 255, 0.979167) 47.2%, #FF6F07 127.91%, #FF6B00 127.92%, #00FFA3 127.93%, rgba(255, 255, 255, 0) 127.93%, #00F0FF 127.93%, #008646 127.93%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }

                .contact-footer {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    a {
                        border: 1px solid #FFFFFF;
                        border-radius: 50%;
                        padding: 16px;
                        padding: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    a:hover {
                        border: 1px solid orange;
                        img {
                            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
                            // filter: brightness(0%) sepia(1) hue-rotate(19.4deg  ) saturate(10.4%) brightness(0%);
                        }
                    }
                }

                a {
                    font-family: 'Söhne Breit Test';
                    font-size: 12px;
                    line-height: 18px;
                    color: #FFFFFF;                        
                }
            }

        }

        .bottom-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            a {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 100;
                font-size: 14px;
                line-height: 17px;
                text-align: right;
                text-transform: uppercase;
                color: #FFFFFF;
                text-decoration: underline;
                text-decoration-color: #FF6B00;
                // text-align: left;

                span {
                    font-weight: 700;
                }
            }
            a:hover {
                    // color: #FF6B00;
                    filter: drop-shadow(0px -3px 3px #FF6B00);
                    // background: linear-gradient(92.61deg, #FF5836 0%, #FFB8A9 100%);
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    // background-clip: text;
                    // text-fill-color: transparent;
                    text-decoration-color: #FFFFFF;
            }

        }

    }
}

@media only screen and (max-width: 900px) {
    .Footer {
        .container-footer {
            width: 100%;
            .top-footer {
                flex-direction: column;
                align-items: center;
                gap: 50px;
                border-bottom: transparent;
                position: relative;
                
                .box-t-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 40px;

                    .text-footer {
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                    }
                }
                .box-t-middle {
                    width: auto;
                    gap: 80px;
                }

                .box-t-right {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;

                    .gp {
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                    }
                }
            }

            .top-footer::after{
                content: '';
                position: absolute;
                bottom: 0;
                // left: 0;
                border-bottom: 1px solid #FFFFFF;
                width: 80%;
             }

            .bottom-footer {
                flex-direction: column;
                gap: 0px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .Footer {
        .container-footer {
            width: 100%;
            .top-footer {
                flex-direction: column;
                align-items: center;
                gap: 50px;
                border-bottom: transparent;
                position: relative;
                
                .box-t-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 40px;

                    .text-footer {
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                    }
                }

                .box-t-middle {
                    width: auto;
                    gap: 50px;
                }

                .box-t-right {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;

                    .gp {
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                    }
                }
            }

            .top-footer::after{
                content: '';
                position: absolute;
                bottom: 0;
                // left: 0;
                border-bottom: 1px solid #FFFFFF;
                width: 80%;
             }

            .bottom-footer {
                flex-direction: column;
                gap: 15px;
                width: 86%;

                a {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
        }
    }
}