.Roadmap {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 15vh;
    padding-bottom: 100px;

    .box-title-Roadmap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        width: 100%;

        h1 {
            font-family: 'Söhne Breit Test-regular';
            font-size: 50px;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
            background: linear-gradient(92.61deg, #FF5836 0%, #FFFFFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    
        p {
            font-family: 'Nordique Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #FFFFFF;
            width: 60%;
        }
    }

    .container-Roadmap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        gap: 100px;
        position: relative;
        background-image: url("./../img/roadmap.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75% 100%;

        img {
        width: 100%;
        height: 100%;
        position: absolute;
        }

        .l1 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 250px;
            margin-top: 50px;
            margin-left: 50px;
        }

        .l2::after {
            position: absolute;
            display: inline-block;
            left: 30vw;
            content: "";
            background: rgba(122, 159, 159, 0.963834);
            filter: blur(140px);
            width: 250px;
            height: 250px;
        }
        .l2 {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 300px;
        }
        .l3 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 300px;
        }
        .l4 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 200px;
            margin-left: 7vw;
        }
        .l5::before {
            position: absolute;
            display: inline-block;
            left: 20vw;
            top: 50px;
            content: "";
            background: rgba(122, 159, 159, 0.963834);
            filter: blur(140px);
            width: 250px;
            height: 250px;
            z-index: -1;
        }

        .l5 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 150px;
            margin-top: 100px;
            position: relative;
        }
        .l6 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 300px;
        }

        .case {
            border: 1px solid #FFFFFF;
            padding: 15px 100px;
            position: relative;
            
            .back-color::before {
                width: 0;
            }
            .back-color {
                background: linear-gradient(90.88deg, #A02C00 0.75%, #EE4200 87.96%, #000000 99.25%);
                width: 0%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                // animation: slidein 5s;
            }

            .back-color1::before {
                width: 0;
            }
            .back-color3::before {
                width: 0;
            }
            .back-color4::before {
                width: 0;
            }
            .back-color5::before {
                width: 0;
            }
            .back-color6::before {
                width: 0;
            }

            .back-color1 {
                width: 0%;
                background: linear-gradient(90.88deg, #A02C00 0.75%, #EE4200 87.96%, #000000 99.25%);
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: -1;
                // animation: slidein 5s;
            }
            .back-color3 {
                width: 0%;
                background: linear-gradient(90.88deg, #A02C00 0.75%, #EE4200 87.96%, #000000 99.25%);
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: -1;
                animation: slidein 5s;
            }
            .back-color4 {
                width: 0%;
                background: linear-gradient(90.88deg, #A02C00 0.75%, #EE4200 87.96%, #000000 99.25%);
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: -1;
                animation: slidein 5s;
            }
            .back-color5 {
                width: 0%;
                background: linear-gradient(90.88deg, #A02C00 0.75%, #EE4200 87.96%, #000000 99.25%);
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                animation: slidein 5s;
                z-index: -1;
            }
            .back-color6 {
                width: 0%;
                background: linear-gradient(90.88deg, #A02C00 0.75%, #EE4200 87.96%, #000000 99.25%);
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: -1;
                animation: slidein 5s;
            }
            span {
                font-family: 'Söhne Breit Test';
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                color: #FFFFFF;
                z-index: 10;
            }
        }

        @keyframes slidein {
            from { width: 0%;}
        }

        @keyframes slidein2 {
            from { width: 0%;}
            to { width: 10%;}
        }
        @keyframes slidein3 {
            from { width: 0%;}
            to { width: 20%;}
        }
        @keyframes slidein4 {
            from { width: 0%;}
            to { width: 30%;}
        }
        @keyframes slidein5 {
            from { width: 0%;}
            to { width: 40%;}
        }
        @keyframes slidein6 {
            from { width: 0%;}
            to { width: 50%;}
        }
        @keyframes slidein7 {
            from { width: 0%;}
            to { width: 60%;}
        }
        @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }

        .box {
            background: linear-gradient(85.96deg, rgba(255, 255, 255, 0) -20.51%, rgba(255, 255, 255, 0.05) 26.82%, rgba(255, 255, 255, 0) 65.65%), rgba(196, 196, 196, 0.05);
            box-shadow: -6px 6px 28px rgba(0, 0, 0, 0.47), inset 0px -2.50245px 1.25122px rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(15.5367px);
            // width: 533.02px;
            width: 29vw;
            // height: 256.52px;
            border-radius: 20px;
            transform: matrix(1, 0, 0, 1, 0, 0);
            display: flex;
            flex-direction: column;
            padding: 30px 50px;
            gap: 15px;

            h2 {
                font-family: 'Söhne Breit Test2';
                font-size: 25px;
                line-height: 29px;
                text-transform: uppercase;
                color: #FFFFFF;
            }

            p {
                font-family: 'Söhne Breit Test-regular';
                font-size: 16px;
                line-height: 23px;
                text-align: justify;
                color: #FFFFFF;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .Roadmap {
        .box-title-Roadmap {
            gap: 50px;
        
            p {
                width: 75%;
            }
        }
        .container-Roadmap  {
            width: 90%;

            .l1 {
                gap: 13vw;
            }

            .l1 > .box {
                width: 50%;
            }
            .l2 {
                gap: 10vw;
            }
            .l2 > .box {
                width: 50%;
            }
            .l3 {
                gap: 10vw;
            }
            .l3 > .box {
                width: 50%;
            }
            .l4 {
                gap: 10vw;
            }
            .l4 > .box {
                width: 50%;
            }
            .l5 {
                gap: 10vw;
            }
            // .l5::before {
            // }

            .l5 > .box {
                width: 50%;
            }
            .l6 {
                gap: 10vw;
            }
            .l6 > .box {
                width: 50%;
            }

            .box {
                width: 40%;
                padding: 30px 25px;
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .Roadmap {
        margin-top: 0vh;
        gap: 80px;

        .box-title-Roadmap {
            gap: 50px;
        
            h1 {
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 5px;
            }
            p {
                font-size: 16px;
                line-height: 26px;
                width: 90%;
            }
        }
        .container-Roadmap  {
            width: 90%;

            .box {
                align-items: center;
            }
            .l1 {
                flex-direction: column;
                gap: 5vw;
                margin-left: 0;
                margin-top: 0;
            }
            .l1 > .box {
                width: 80%;
            }
            .l2 {
                flex-direction: column-reverse;
                gap: 5vw;
            }
            .l2::after {
                width: 150px;
                height: 150px;
            }
            .l2 > .box {
                width: 80%;
            }
            .l3 {
                flex-direction: column;
                gap: 5vw;
            }
            .l3 > .box {
                width: 80%;
            }
            .l4 {
                flex-direction: column-reverse;
                gap: 5vw;
            }
            .l4 > .box {
                width: 80%;
            }
            .l5 {
                flex-direction: column;
                gap: 5vw;
                margin-top: 0;
            }

            .l5::before {
                width: 150px;
                height: 150px;
            }

            .l5 > .box {
                width: 80%;
            }
            .l6 {
                flex-direction: column-reverse;
                gap: 5vw;
            }
            .l6 > .box {
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .Roadmap {
        padding-bottom: 60px;
        .container-Roadmap {
            position: relative;
            background-image: none;
            width: 100%;

            .l1 {
                gap: 25px;
            }
            .l2 {
                gap: 25px;
            }
            .l2::after {
                width: 120px;
                height: 120px;
            }
            .l3 {
                gap: 25px;
            }
            .l4 {
                gap: 25px;
            }
            .l5 {
                gap: 25px;
            }
            .l5::before {
                width: 120px;
                height: 120px;
            }
            .l6 {
                gap: 25px;
            }

            .box {
                h2 {
                    font-size: 20px;
                    line-height: 23px;
                }

                p {
                    font-size: 14px;
                    line-height: 23px;
                }
            }
        }
    }
}